*{
    margin: 0px;
    padding: 0px;
}
/*nav start */
.logo-pic{
    width: 220px;
    padding:10px;
}
.manu-continer{
    background-color: rgb(32,32 , 32);
    display: flex;
    justify-content: space-around;
    height: 45px;
    align-items: center; 
    padding: 12px;
}
.manu{
    color: white;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.item{
    margin-right: 35px;
    font-size: 18px;
}
.manu li {
    padding: 5px 20px;
    font-weight: 800;
}
.item:hover{
    background-color: rgb(255, 254, 254);
    color: rgb(3, 3, 3);
    border-radius: 5px;   
}
.logo-pic{
    width: 120px;
    padding: 5px;
}
/*nav end*/
/*baner start*/
.main-benar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(background.png) , linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    color: white;
    height: 100vh;
    background-size: cover;
    
}
.benanr{
    width: 350px;
}
.bennar-text h1 {
    font-size: 65px;
}
.bennar-text p{
    font-size: 22px;
}
button{
    margin-top: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
}
button:hover{
    background-color: rgb(236, 109, 109);
    color: white;
}
/*baner End*/
/*aboute us section start*/
.about-countant{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    flex-direction: row-reverse;
    padding-top: 100px;
    
    
}
.about-us{
    height: 100vh;
}
.about-us h1{
    text-align: center;
    margin-top: 20px;
    font-size: 45px;
    font-weight: 900px;
    padding-top: 25px;
    
    
}
.about-countant h3{
    font-size:54px ;
    font-weight: bold;

}
.about-countant p{
    font-size: 18px;
    margin-top: 15px;
}
.about-img img{
    width: 500px;
    padding-top: 35px;

}
/*aboute us section end*/


    
.service{
    background-image: url(background.png) , linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    height: 100vh;
}
.service h2{
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 30px;

}
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 200px;
  
    
    
}
.card-iteme {
    width: 250px;
    height: 380px;
    box-shadow: 4px  2px 105px rgb(104, 103, 103);
    padding: 15px;
    color: white;
    text-align: center;
   
}
.service img{
    width: 70px;
    padding: 15px;
}

.foter-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    padding-bottom: 50px;
}
.fotter-img{
    width: 120px;
}